{
  "Name": "payment",
  "DisplayName": "快速支付",
  "Description": "点击链接弹出支付表单。",
  "Publisher": "siteserver",
  "Version": "1.0.0",
  "Website": "http://www.siteserver.cn",
  "ExecuteFileName": "bin/SS.Payment.dll",
  "icon": "logo.svg",
  "includes": [
    "admin/",
    "logo.svg",
    "bin/SS.Payment.dll",
    "plugin.jsons"
  ]
}
